.footer-sitemap-menu > ul {
    display: inline-block;
}

.footer-sitemap-menu .level0 a {
    font-size: 1.125em;
}
.footer-sitemap-menu .level1 a {
    font-size: 1em;
}
.footer-sitemap-menu .level2 a {
    font-size: 0.875em;
}