.DS_Store
.idea
/configuration.php
cgi-tmp/*.png
cgi-tmp/img-fp/*/*toc
cgi-tmp/pdf/*.pdf
cgi-tmp/protege/*.tar.gz
cgi-tmp/rtf/*.rtf
/download/6*
/download/7*
/download/8*
/download/9*
/download/10*
/download/11*
/download/12*
/download/13*
/download/14*
/download/15*
/download/16*
/download/17*
/download/18*
/download/19*
/download/20*
/download/current
/figures/*
/ehld-icons/*
/management
/cache/*
/administrator/logs/*.php
/administrator/cache/*
/administrator/components/com_easyjoomlabackup/backups/*
.last_execution*
*.log
*.out
*.swp
private/joomla_website.sql
