/*
 *  MAIN COLOR: #2F9EC2
 */
.folder {
    font-size: 22px;
    margin: 15px 0;
    background-color: #FFFFFF;
    border: 1px solid #D7D7D7;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:10px 0;
}

.folder i[class^="fa fa-"], i[class*=" fa fa-"] {
    font-size: 42px;
    padding: 0;
}

.folder-size {
    font-size: small;
    color: #B0B0B0;
}

.total-size {
    padding: 0 18px;
    font-size: small;
    float: left;
    width: 100%;
}

.svg-label {
    font-size: 16px;
}

.svg-component {
    height: 212px;
    text-align: center;
    margin-top: 20px;
    padding-top: 4px;
    background-color: #FFFFFF;
    border: 1px solid #D7D7D7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.search-result {
    height: 235px;
}

.svg-component:hover {
    background-color: #F3F6F3;
}

.svg-component img {
    width: 145px;
    height: 145px;
}

.folder-not-found {
    color: red;
}

.download-lib {
    padding: 0 18px;
    margin-top: 20px;
    position: relative;
    display: inline-block;
    float: left;
    clear: both;
}

.download-lib .tooltip-download-lib {
    visibility: hidden;
    background-color: #2F9EC2;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    box-shadow: 2px 2px 2px #c8c8c8;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    /* TOP */
    width: 235px;
    bottom: 102%;
    left: 50%;
    margin-left: -100px;

    -webkit-transition: height .5s; /* For Safari 3.1 to 6.0 */
    transition: height .5s;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.download-lib:focus .tooltip-download-lib, .download-lib:hover .tooltip-download-lib {
    visibility: visible;
    background-color: #2F9EC2;
    opacity: 1;
    height: 78px;
}

.download-lib img {
    width: 26px;
    height: 26px;
}

.tooltip-download-lib a {
    font-weight: bold;
    color: white;
}

.tooltip-download-lib a:hover {
    font-weight: normal;
    text-decoration: underline;
    background-color: #FFF;
    color: #2F9EC2;
    opacity: 0.7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 1px 3px 1px 3px;
}

.download {
    position: relative;
}

.download img {
    width: 23px;
    height: 23px;
}

.information i[class^="fa fa-"], i[class*=" fa fa-"], .no-information i[class^="fa fa-"], i[class*=" fa fa-"], .download i[class^="fa fa-"], i[class*=" fa fa-"]{
    margin-top: 3px;
    padding: 0;
}

.download p a {
    font-weight: bold;
    color: white;
}

.download p a:focus, .download p a:hover {
    font-weight: bold;
    text-decoration: underline;
    background-color: #FFF;
    color: #2F9EC2;
    opacity: 0.7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 1px 3px 1px 3px;
    transition-delay: 1s;
}

.download .tooltip-formats {
    visibility: hidden;
    background-color: #2F9EC2;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;

    /* TOP */
    width: 40px;
    bottom: 102%;
    left: 50%;
    margin-left: -19px; /* Use half of the width (120/2 = 60), to center the tooltip */

    -webkit-transition: height .5s; /* For Safari 3.1 to 6.0 */
    transition: height .5s;
    opacity: 0;
    height: 0;
    overflow: hidden;
}

.download .tooltip-formats p {
    margin: 8px 2px;
}

.download:hover .tooltip-formats {
    visibility: visible;
    background-color: #2F9EC2;
    opacity: 1;
    height: 100px;
}

.extras {
    border-top: 1px solid #D7D7D7;
    margin-top: 6px;
    padding-top: 6px;
}

.information, .no-information {
    position: relative;
}

.information img, .no-information img {
    width: 16px;
    height: 16px;
}

.text-lg-overflow {
    width: 89%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    line-height: 20px;
    font-size: 14px;
    vertical-align: middle;
}

.tooltip-information {
    visibility: hidden;
    height: auto;
    background-color: #2F9EC2;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    box-shadow: 2px 2px 5px #888888;
    padding: 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 9999;

    /* TOP */
    min-width: 220px;
    width: auto;
    bottom: 102%;

    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.information:focus > .tooltip-information,
.information:hover > .tooltip-information {
    visibility: visible;
    background-color: #2F9EC2;
    position: absolute;
    z-index: 9999999 !important;
}

.no-information {
    opacity: .4; /* FX/Opera/Safari/Chrome */
    -ms-filter: "alpha(opacity=40)"; /* IE8 */
    filter: alpha(opacity=40); /* IE6/IE7 */
}

.ehld-breadcrumb {
    margin: 25px 0 0 0;
}

.ehld-result-title h3 > span {
    font-size: 16px;
}

/*/// 1024px ///*/
@media (width: 1024px) {
    .information .tooltip-information {
        transform: translateX(-29%);
    }
}

@media (min-width: 768px) {
    .ehld-search-bar {
        height: 46px;
        background: #f9f9f9;
        background: -webkit-linear-gradient(left top, #f9f9f9, #e6e6e6);
        background: -o-linear-gradient(bottom right, #f9f9f9, #e6e6e6);
        background: -moz-linear-gradient(bottom right, #f9f9f9, #e6e6e6);
        background: linear-gradient(to bottom right, #f9f9f9, #e6e6e6);
        padding-top: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        margin-bottom:10px;
    }
}

/*/// mobile ///*/
@media (max-width: 768px) {
    .search-result {
        height: 235px;
    }

    .svg-component img {
        width: 120px;
        height: 120px;
    }

    .information img, .no-information img {
        width: 16px;
        height: 16px;
    }
}

@media (max-width: 425px) {
    .extras {
        display: block !important;
    }

    .intro-message h3 {
         font-size: 18px;
         line-height: 26px;
    }

    .intro-explanation h4 {
        font-size: 14px;
        line-height: 20px;
    }

    .ehld-result-title h3 {
        font-size: 17px;
    }

    .ehld-result-title h3 > span {
        font-size: 12px;
    }
}

@media (max-width: 320px) {
    .svg-component img {
        width: 120px;
        height: 120px;
    }

    .information img, .no-information img {
        width: 16px;
        height: 16px;
    }

    .extras {
        border-top: 1px solid lightgray;
        margin-top: 6px;
        padding-top: 6px;
        display: block !important;
    }
}

/* MODAL */
.modal-dialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 9999999 !important;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    display: none;
    min-height: 100px;
    overflow: hidden;
}

.modal-dialog:target {
    opacity: 1;
    pointer-events: auto;
    display: block !important;
}

.modal-dialog > div {
    overflow: hidden;
    height: 65%;
    width: 50%;
    position: relative;
    margin: 10vh auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #f1f1f1;
    max-width: 100%;
    max-height: 100%;
}

.modal-dialog h2 {
    font-weight: bold;
    color: #2F9EC2;
}

.modal-dialog img {
    height: 86%;
    width: 100%;
}

a.close {
    background-color: #2F9EC2;
    color: #FFFFFF;
    line-height: 25px;
    position: relative;
    right: -12px;
    text-align: center;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
    opacity: 1;
    font-size: inherit;
    z-index: 999;
}

.close:hover {
    background-color: #2F9EC2;
    opacity: 1;
    color: #c8c8c8;
}

.collaboration {
    padding: 0 20px;
    margin: 10px 0 10px 0;
    font-size: smaller;
    text-align: justify;
}

.disclaimer {
    padding: 0 20px;
    margin-bottom: 10px;
    color: gray;
    font-size: smaller;
    text-align: justify;
}

.description span:first-child, .curator span, .designer span {
    text-align: left;
    font-weight: bold;
}

.description span::selection, .curator span::selection, .designer span::selection {
    background-color: #FFF;
    color: #2F9EC2;
}

.description span::-moz-selection, .curator span::-moz-selection, .designer span::-moz-selection {
    background-color: #FFF;
    color: #2F9EC2;
}

.curator a, .designer a {
    color: white;
    text-decoration: underline;
}

.curator a:hover, .designer a:hover {
    text-decoration: underline;
    background-color: #FFF;
    color: #2F9EC2;
    opacity: 0.7;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 1px 3px 1px 3px;
}

.info {
    margin-top: 12px;
    padding: 0 18px
}

.description .term-highlight {
    color: #2F9EC2;
    font-weight: bold;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: white;
    padding: 1px 3px 1px 3px;
}

.term-highlight {
    color: #fff;
    font-weight: bold;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #2F9EC2;
    padding: 1px 3px 1px 3px;
}

.icons-lib-home:hover {
    cursor: pointer;
}
